---
astro:
  metadata:
    title: "Astro UI Page"
---
<template>
  <div>
    <h1>Welcome to the Astro UI Page!</h1>
    <p>This is a basic UI page created using Astro.</p>
  </div>
</template>

<style>
  h1 {
    color: blue;
  }
  p {
    font-size: 18px;
  }
</style>
